{% assign title = Model.ContentItem | display_text %}

<div class="logos">
    {% if title != blank %}
        <span class="logos__title">{{ title }}</span>
    {% endif %}

    <div class="logos__items">
        {{ Model.Content | shape_render }}
    </div>
</div>
