{% assign css = "footer" %}
{% assign constrainClasses = "constrain" %}

{% assign backgroundColour = Model.ContentItem.Content.BackgroundPart.BackgroundColour.Value %}
{% assign backgroundPattern = Model.ContentItem.Content.BackgroundPart.BackgroundPattern.Text %}
{% assign backgroundFixed = Model.ContentItem.Content.BackgroundPart.BackgroundFixed.Value %}
{% assign backgroundFill = Model.ContentItem.Content.BackgroundPart.BackgroundFill.Value %}
{% assign inverted = Model.ContentItem.Content.BackgroundPart.InvertTextColour.Value %}
{% assign contentWidth = Model.ContentItem.Content.Footer.ContentWidth.Text %}

{% if inverted %}
    {% assign css = css | append: " footer--inverted" %}
{% endif %}

{% if backgroundFixed %}
    {% assign css = css | append: " bg--fixed" %}
{% endif %}

{% if backgroundFill %}
    {% assign css = css | append: " bg--fill" %}
{% endif %}

{% assign styles = "" %}

{% if backgroundColour != nil %}
    {% assign backgroundColour = "--footerBackgroundColor:" | append: backgroundColour | append:"; " %}
    {% assign styles = styles | append: backgroundColour %}
{% endif %}

{% if backgroundPattern != nil and backgroundPattern != "" %}
    {% assign backgroundPatternURL = backgroundPattern | asset_url %}
    {% assign backgroundPattern = "--footerBackgroundPattern: url(" | append: backgroundPatternURL | append:"); " %}
    {% assign styles = styles | append: backgroundPattern %}
{% endif %}

{% if contentWidth != nil and contentWidth != "default" %}
    {% assign constrainClasses = constrainClasses | append: ' constrain--' | append: contentWidth %}
{% endif %}

<footer class="{{ css }}" style="{{ styles }}">
    <div class="footer__content {{ constrainClasses }}">
        {{ Model.Content.Content | shape_render }}
    </div>
</footer>