{% assign menu = Content.ContentItemId[Model.ContentItem.Content.Navigation.Menu.ContentItemIds] %}
{% assign menuAlias = "alias:" | append: menu.Content.AliasPart.Alias %}

<nav class="nav">
    {% shape "menu", alias: menuAlias %}
</nav>
